//Colores
$white: #fff;
$isabeline: #ECECEC;
$light-gray: #d1d1d1;
$smoky-black: #0C0910;
$quick-silver: #A6A5A8;



//Tipografias
$fontFamily1: 'Old Standard TT', serif;
$fontFamily2: 'Raleway', sans-serif;

$regular: 400;
$bold: 700;
$semi-bold: 600;


//font-sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
